numpy==2.4.4
pandas==3.0.2
matplotlib==3.10.9
seaborn==0.13.2
scikit-learn==1.8.0
imbalanced-learn==0.14.1
python-dotenv==1.2.2
joblib==1.5.3
xgboost==3.2.0
scipy==1.17.1
pydantic==2.13.3
fastapi==0.136.1
streamlit==1.57.0
requests==2.33.1
uvicorn==0.46.0
